<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="qqOnlineWebServiceSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="qqOnlineWebServiceSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://ws.webxml.com.cn/webservices/qqOnlineWebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="qqOnlineWebServiceSoap"
                contract="TencentQQ.qqOnlineWebServiceSoap" name="qqOnlineWebServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>
